@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto Mono", serif;
    
}
.container{
    margin: 0 auto  ;
    padding: 0 52px;
}
.header{
    width: 1440px;
    height: 1024px;

    background-image: url(img/bg.png);
    
}
 
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
   
.nav ul{
    display: flex;
    justify-content: space-between;
    
 }
 .box1{
    width: 604px;
    height: 103px;
    margin-top: 243px;
    margin-left: 443px;
    border-radius: 50px;
    border: 11px solid #5A5555;
    background-color: #FFC611;

 }
.h6{
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    text-align: center;
    text-shadow: 0px 4px 4px  #0047FF;
}
.box-ota{
    display: flex;
    justify-content: space-around;

}
.boxcha{
    width: 361px;
    height: 420px;
    margin-top: 132px;
    text-align: center;
    background-color: #1F1F1F; 
}
.h2{
   
    font-size: 36px;
    font-weight: 600;
    line-height: 42.19px;
    text-shadow: 0px 4px 4px 0px #FFC200;  
}
.section{
    width: 1440px;
    height: 1500px;
    background-color: black;
    margin: 0 auto;
}
.h1{
    font-family: Roboto;
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    text-align: center;
    padding-top: 61px;
    color: #5A5555;
    text-shadow: 0px 4px 4px  #FFFFFF;  
}
.olo{
    width: 1440px;
    height: 521px;
    display: flex;
    color: white;
    gap: 87px;
    
}
.logo{
    width: 571px;
    height: 305px;
    opacity: 0px;
    margin-top: 183px;
  

}
.olo p{
    padding-top: 183px;
    font-size: 20px;
    font-weight: 600;
    line-height: 31.64px;
}

.olu{
    width: 1440px;
    height: 521px;
    color: white ;
    
}
.button {
    width: 278px;
    height: 61px;
    background-color: #FFC200;
    color: black;
    font-size: 27px;
    font-weight: 700;
    line-height: 31.64px;
    box-shadow: 0px 7px 12.8px 0px #FFFFFF;
}
.button:hover{
    background-color: #535353;
    transition: all 1s;
}



